@import '@fontsource/bellefair/400.css';
@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow-condensed/400.css';


@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer utilities {

    :root {
        --color-primary: hsl(230, 77%, 90%);
        --color-secondary: hsl(230, 35%, 7%);
        --color-accent: hsl(0, 94%, 66%);
        --background: hsl(0, 0%, 0%);
        --foreground: hsl(0, 0%, 100%);

        --color-surface: hsl(0, 0%, 100%);
        --color-muted: hsl(230, 35%, 7% / 0.5);

        --shadow-button: 0 8px 16px hsl(231 69% 60% /.2);

        --font-serif: "Bellefair", serif;
        --font-sans: "Barlow", sans-serif;
        --font-sans-condensed: "Barlow Condensed", sans-serif;
    }
}

@layer base {
    body {
        @apply font-sans antialiased;
        background: var(--color-secondary);
    }
}

@layer components {

    /* Display */

    .text-display-xl {
        font-family: var(--font-serif);
        font-size: 9rem;
        line-height: 1.72;
    }

    .text-display-lg {
        font-family: var(--font-serif);
        font-size: 6.25rem;
        line-height: 1.15;
    }

    /* Headings */

    .text-heading-xl {
        font-family: var(--font-serif);
        font-size: 3.5rem;
        line-height: 1.64;
    }

    .text-heading-lg {
        font-family: var(--font-serif);
        font-size: 2rem;
        line-height: 1.37;
    }

    .text-heading-md {
        font-family: var(--font-serif);
        font-size: 1.75rem;
        line-height: 1.32;
    }

    /* Labels */

    .text-label-lg {
        font-family: var(--font-sans-condensed);
        font-size: 1.75rem;
        line-height: 1.34;
        letter-spacing: 0.143em;
        text-transform: uppercase;
    }

    .text-label-md {
        font-family: var(--font-sans-condensed);
        font-size: 1rem;
        line-height: 1.19;
        letter-spacing: 0.125em;
        text-transform: uppercase;
    }

    .text-label-sm {
        font-family: var(--font-sans-condensed);
        font-size: 0.875rem;
        line-height: 1.17;
        letter-spacing: 0.143em;
        text-transform: uppercase;
    }

    /* Body */

    .text-body {
        font-family: var(--font-sans);
        font-size: 1.125rem;
        line-height: 1.8;
    }
}
